<h1>Vivify Zoo</h1>

<table>
  <tr>
    <th>Species</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th></th>
  </tr>
  <ng-container *ngFor="let animal of animals">
    <tr>
      <td>{{animal.species}}</td>
      <td>{{animal.name}}</td>
      <td>{{animal.dateOfBirth ? animal.dateOfBirth : 'Unknown'}}</td>
      <td><button type="button" name="button" (click)="remove(animal)">Remove</button></td>
      <td><button type="button" name="button" (click)="moveToTop(animal)">Move to top</button></td>
    </tr>
  </ng-container>
</table>
