<h1>Vivify Zoo</h1>

<table>
  <tr>
    <td>Species:</td>
    <td>
      <input type="text" name="species" [(ngModel)]="animal.species">
    </td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>
      <input type="text" name="name" [(ngModel)]="animal.name">
    </td>
  </tr>
  <tr>
    <td>Date of birth:</td>
    <td>
      <input type="date" name="dateOfBirth" [(ngModel)]="animal.dateOfBirth">
    </td>
  </tr>
  <tr>
    <td colspan="2" style="align-center">
      <button type="button" name="button" (click)="add()">Add new</button>
    </td>
  </tr>
</table>

<hr>

<table>
  <tr>
    <th>Species</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Sector</th>
    <th></th>
  </tr>
  <ng-container *ngFor="let animal of animals">
    <tr>
      <td>{{animal.species}}</td>
      <td>{{animal.name}}</td>
      <td>{{animal.dateOfBirth ? animal.dateOfBirth : 'Unknown'}}</td>
      <td>{{animal.sector ? animal.sector.name : 'Ran away'}}</td>
      <td><button type="button" name="button" (click)="remove(animal)">Remove</button></td>
      <td><button type="button" name="button" (click)="moveToTop(animal)">Move to top</button></td>
    </tr>
  </ng-container>
</table>
<hr>
<table>
  <tr>
    <th>Sector</th>
    <th>Surface</th>
    <th></th>
  </tr>
  <ng-container *ngFor="let sector of sectors">
    <tr>
      <td>{{sector.name}}</td>
      <td>{{sector.surface}}</td>
      <td><button type="button" name="button" (click)="whichAnimals(sector.name)">Which animals?</button></td>
    </tr>
  </ng-container>
</table>
